body{
    margin: 0;
    padding: 0;
    
}

.header-words{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#2e85c2;
  
}
.name{
  background-color: white;
  text-align: center;
  font-size: 20px;
  color: #2696e7;
  font-family: Arial, Helvetica, sans-serif;
 
}

#bullet{
    float: right;
    
}
#bulle{
  float: right;
  text-transform: uppercase;
}
.header-words .link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 120px ;
  }
  #bullet .link:hover {
    background-color:rgb(153, 51, 82);
  }
  span{
    color: white;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  
  .butt{
    float: right;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    margin-right: 100px;
    border-radius: 8px;
    background-color: rgba(210, 195, 176, 0.43);
    padding: 5px 5px;
  }
  .detail{
    text-decoration: none;
    color: #111;
   
  }
  .footer{
    background-color:white;
    height: 250px;
    display: flex;
  }
  .sub-footer{
    margin-top: 30px;
    padding: 10px 50px;
    border-radius: 25px;
    margin-left: 140px;
    background-color: #2e85c2;
    opacity: 0.7;
    color: white;
    
  }
  .sub-footer a{
    font-size: 20px;
  }
  #sub-footer{
    margin-left: 170px;
    color: rgb(28, 9, 9);
    font-size: 17px;
    
  }
  #sub-foote{
    margin-left: 250px;
    color: rgb(28, 9, 9);
    font-size: 17px;
  }
  #footer{
    color: white;
    text-decoration: none;
  }
  .down-footer{
    background-color: rgb(35, 17, 17);
    height: 200px;
    margin-top: 20px;
    
  }
  .info{
    color: white;
  }
  
  .chat{
    
    float: right;
    padding: 10px 50px;
    margin-right: 200px;
    
    
  }
  #foot{
    text-decoration: none;
    background-color: #2e85c2;
    color: white;
    padding: 15px 10px;
    border-radius: 25px;
  }
  .info #ita{
    font-size: 30px;
    margin-left: 140px;
    margin-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: white
  }
  .info{
    display: flex;
  }
  .info .none{
    color: rgb(35, 17, 17);
    height: 200px;
    margin-top: 70px;
  }
  .info .ita{
    color:rgb(35, 17, 17);
  }
  .info #bold{
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  .main-footer .sub-footer:hover{
    background-color: rgb(153, 51, 82);
    cursor: pointer;
  }
  .head .fa{
    margin-right: 5px;
    
}
.down-footer .fa{
  margin-right: 15px;
}
.about_drop{
  display: none;
  
}
.head ul li:hover .about_drop{
  display: block;
  position: absolute;
  background-color: #2e85c2;
  margin-top: 1px;
  margin-left: 10px;
  padding: 10px 10px;
  margin-bottom: 20px;
 
  
}
.head ul li:hover .about_drop ul{
  display: block;
  margin: 10px;
}
.head ul li:hover .about_drop ul li{
  width: 150px;
  padding: 10px;
  border-bottom: 1px solid #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.head ul li:hover .about_drop ul li:last-child{
  border-bottom: none;
}
.head ul li:hover .about_drop ul li a:hover{
  color: #2696e7;
}
.about_drop ul li{
  text-decoration: none;
  font-size: 20px;
  list-style-type: none;
}

.about_drop ul li a{
  text-decoration: none;
  color: white;
}